body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #root {
  height: 100%;
  width: 100%;
} */
.container{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
}
.main{
  padding: 1em;
}
.tablePoster{
  width: 50px;
  border: 2px solid #fff;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}